main {
  width: 100%;
}

#search-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#hn-results-container {
  margin-top: 10px;
  background-color: aqua;
  min-height: 60px;
  width: 100%;
}